<div id="customNavbar" class="bg-dark">
  <div class="row navbarRow">
    <div class="col-sm-12 col-md-6 col-lg-6 leftSideNav">
      <div class="col-sm-12 col-md-4 col-lg-3">
        {{#if username}}
        <a href="/dashboard/{{username}}"><h4 class="brand">Dinner Finder&nbsp;<i class="fa fa-cutlery" aria-hidden="true"></i></h4></a>
        {{else}}
        <a href="/"><h4 class="brand">Dinner Finder&nbsp;<i class="fa fa-cutlery" aria-hidden="true"></i></h4></a>
        {{/if}}
      </div>

      <div class="col-sm-12 col-md-8 col-lg-9 formWrapper">
      {{#unless username}} 
        <form class="input-group form input-group-sm" role="form" action="/login" method="POST">
            <input type="text"  id="username" name="username" placeholder="Username" aria-describedby="sizing-addon1">
            <input type="password"id="password" name="password" placeholder="Password" required>
            <span class="input-group-btn"><button type="submit" class="btn btn-default">Log in</button></span>
        </form> 

      <!-- errors -->
      {{#if errors}}
      <div class="alert-danger errorDiv">
      {{#each errors}}
      <ul>
        <li>{{this.msg}}</li>
      </ul>
      {{/each}}
      </div>
      {{/if}}


        {{/unless}}
      </div>
    </div>
    {{#if username}}
    <div class="col-sm-12 col-md-6 col-lg-6 rightSideNav_logged">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <p class="navbar-link">Signed in as&nbsp;&nbsp;<span style="color:#F5F5F5;">{{username}}</span></p>
        </div>
        <div class="col-sm-12 col-md-4 logout">
        <a class="logOutBtn" href="/logout">Log out</a>
        </div>
      </div>
    </div>
    {{else}}
    <div class="col-sm-12 col-md-6 col-lg-6 rightSideNav_notLogged">
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <p class="signUp"><a href="/register">Sign up</a></p>
        </div>
        <div class="col-sm-8 col-md-8">
          <a href="/twitter/login/"><img class="twitterLoginBtn" src="images/twitterButton.png" alt="twitter login button"></a>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</div>

    