
    <!-- Page Content -->
  
  <div class="pimg1">
    <p class="presentationText text-center">Search a dinner location where friends from your city are going tonight. Find who's going and post your choice too by logging in or via your Twitter account</p>
    <div class="row" style="margin-top:50px; margin-bottom:150px;">
      <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <span>Trieste</span>
          <form action="/search" method="POST">
            <div style="margin-bottom:80px;" class="input-group">
                <input type="text" class="form-control" placeholder="Where are you at?" name="search">
                <span class="input-group-btn">
                  <input type="submit" class="btn btn-default" type="button" value="Search">
                </span>
            </div>
          </form>
      </div>
    </div>
    {{#if searchPerformed}}
    <div class="container">
    {{#each data}}
      <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6 offset-xs-1 offset-sm-1 offset-md-2 offset-lg-3 cardWrapper">
        <a href="{{this.url}}"><img class="card-img-top thumbImg" src="{{this.image_url}}" alt=""></a>
        <div class="container restaurant-info text-center">
          <div class="row">
            <div class="col-md-6 text-center">
              <img class="ratingImg" src="images/{{this.rating}}stars.png" alt="yelp rating">
              <ul>
                <li><h4>{{this.name}}</h4></li>
                <li><i>Address:</i> {{this.location.address1}}</li>
                <li><i>City:</i> {{this.location.city}},&nbsp;{{this.location.country}}</li>
                <li style="font-size: 0.7rem;">Contact: {{this.phone}}</li>
                <!-- tle dodaj ali je prijavljen al ne -->
              </ul>
            </div>
            <div class="col-md-6 text-center">
              <p>Attenders:&nbsp;{{this.count}}</p>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
    </div>
    {{/if}}
  </div> 

